header.header   
    div.container
        div.header-content
            div.header__left-side
                div.contacts
                    span FreeCall 
                    span.phone +1 234 456 78910
                    p.address 198 West 21th Street, Suite 721 New York NY 10016
                span.icon-map
                    div(style="background-image: url(./images/map.png)")
            div.header__center
                h2.title Dentista
                h5.sub-title Dental Clinic
            div.header__right-side
                span.icon-telegram
                    div(style="background-image: url(./images/telegram.png)")
                span.open-hours Open Hours 
                    p Mon - Sat: 
                        span 8:00am - 9:00pm 
                        | Sun: Closed
span.divider