:root {
  --blue: #46b7de;
  --blue-dark: #24a1cd;
  --blue-light: #c8eaf5;
  --gray: #808080;
  --gray-light: #d0d0d0;
  --gray-bg: #fafafa;
  --green: #a8c337;
  --black: black;
  --white-dark: #c8eaf5;
}
