block pageVariables
    -
        const blogs = [
            { image: "./images/blog-1.webp", delay: 0.1,  title: "Scary Thing That You Don’t Get Enough Sleep", desc: "Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.", auth: "Admin" },
            { image: "./images/blog-2.webp", delay: 0.15, title: "Scary Thing That You Don’t Get Enough Sleep", desc: "Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.", auth: "Admin" },
            { image: "./images/blog-3.webp", delay: 0.2, title: "Scary Thing That You Don’t Get Enough Sleep", desc: "Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.", auth: "Admin" },
        ]
  
section.blog
    div.container
        div.blog-content
            div.introduction.wow.fadeInUp
                h1.introduction__heading Blog 
                h3.introduction__subheading Recent Blog
                p.introduction__description Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country
            div.blog-list
                each item in blogs 
                    div.blog-list__item.wow.fadeInUp(data-wow-delay=item.delay + "s")
                        div(style='background-image:url('+ item.image +')').blog-list__image 
                            span.image__date-block
                                span.date-block__day 18
                                span.date-block__month September 
                                span.date-block__year 2019
                        div.blog-list__text
                            h1.blog-list__title #{item.title}
                            p.blog-list__description #{item.desc}
                            div.blog-list__details
                                button.button.blog-list__button Read More →
                                div(style="display: flex; gap: 15px;")
                                    a.blog-list__author
                                        span #{item.auth}
                                    a.blog-list__review-count 
                                        img(src="./images/comment-gray.png")
                                        span 3
                                    
                                  
                            


