div.owl-carousel.owl-introduction.owl-theme
    div.owl__item
        div(data-stellar-background-ratio="0.2").slide.first-slide
            div.fit-left
            div.item__content-wrapper.wow.fadeInUp
                h5 Helping Your 
                    br 
                    | Stay Happy One
                p Everyday We Bring Hope and Smile to the Patient We Serve
                button.button View Our Works
    div.owl__item
        div.slide.second-slide
            div.fit-left
            div.item__content-wrapper
                h5 Smile Makes 
                    br 
                    | A lasting Impression 
                p Your Health is Our Top Priority with Comprehensive, Affordable medical.
                button.button View Our Works