div.comment-form 
    div
        label Name*
        input.form-input
    div
        label Email*
        input.form-input
    div
        label Website
        input.form-input
    div
        label Message
        textarea.form-textarea
    button.form__button.button Post Comment