div.comment-form 
    div
        label Name*
        input
    div
        label Email*
        input
    div
        label Website
        input
    div
        label Message
        textarea(name="", cols="30", rows="10") 
    button.form__button.button Post Comment