div.consultation
    div.consultation__left-side 
        h3 Dental Services
        p A small river named Duden flows by their place and supplies
        a See services
    div.consultation__center
        h3 Free Consultation 
        form.consultation__center-form
            input(placeholder="First Name")
            input(placeholder="Last Name")
            select
                  option(value="" disabled selected) Department
            input(placeholder="Date", onfocus="(this.type='date')")
            input(placeholder="Time" onfocus="(this.type='time')")
            button.form__button Appointment
    div.consultation__right-side
        h3 Find a Doctor 
        p A small river named Duden flows by their place and supplies
        a Me Our Doctor
