block pageVariables 
    -
        const prices = [
            { type: "Basic", price: "24.50", delay: 0.1, services: ["Diagnostic Services", "Professional Consultation", "Tooth Implants", "Surgical Extractions", "Teeth Whitening"] },
            { type: "Standart", price: "34.50", delay: 0.15, services: ["Diagnostic Services", "Professional Consultation", "Tooth Implants", "Surgical Extractions", "Teeth Whitening"] },
            { type: "Premium", price: "54.50", delay: 0.2, services: ["Diagnostic Services", "Professional Consultation", "Tooth Implants", "Surgical Extractions", "Teeth Whitening"] },
            { type: "Platinum", price: "24.50", delay: 0.25, services: ["Diagnostic Services", "Professional Consultation", "Tooth Implants", "Surgical Extractions", "Teeth Whitening"] },
        ]

section.pricing
    div.container
        div.pricing-content
            div.introduction.wow.fadeInUp
                h1.introduction__heading Pricing 
                h3.introduction__subheading Our Pricing 
                p.introduction__description Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country
            div.pricing-list
                each item in prices 
                    div.pricing-list__item.wow.fadeInUp(data-wow-delay=item.delay + "s")
                        h2.pricing-list__type #{item.type}
                        h4.pricing-list__price
                            span $#{item.price} 
                            | / session
                        ul.pricing-services
                            each serv in item.services
                                li.pricing-services__item #{serv}
                            button.button.pricing__button Get Offer

