div.promise 
    div(data-stellar-background-ratio="0.2").promise__with-image
        div.container
            div.promise-content
                h1 We promised to take care our patients and we delivered.
                p A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country