div.promise 
    div(data-stellar-background-ratio="0.2").promise__background
        div.container
            div.promise-content
                h1.promise__title We promised to take care our patients and we delivered.
                p.promise__description A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country