div.provide
    div(data-stellar-background-ratio="0.5").provide__background
        div.container
            div.provide-content
                div.provide__text
                    h1.provide__title We Provide Free Dental Care Consultation
                    h4.provide__description Your Health is Our Top Priority with Comprehensive, Affordable medical.
                button.button Free Consultation