div.provide
    div(data-stellar-background-ratio="0.5").provide__with-image
        div.container
            div.provide-content
                div.provide__text
                    h1 We Provide Free Dental Care Consultation
                    h4 Your Health is Our Top Priority with Comprehensive, Affordable medical.
                button Free Consultation