block pageVariables 
    -
        const reviews = [
            { image: "./images/review-1.webp", name: "Rodel Golez", position: "Farmer", review: "Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts." },
            { image: "./images/review-2.webp", name: "Mark Huff", position: "Manager", review: "Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts." },
            { image: "./images/review-3.webp", name: "Racky Henderson", position: "Business", review: "Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts." },
            { image: "./images/review-4.webp", name: "Ken Bosh", position: "Business", review: "Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts." },
        ]

section.reviews 
    div.container
        div.reviews-content
            div.introduction
                h1.introduction__heading TESTIMONIALS
                h3.introduction__subheading Our Patients Says About Us
            ul.reviews-list.owl-carousel.owl-theme.owl-reviews
                each item in reviews 
                    li.review-item    
                        div.review-item__image
                            img(src=item.image)
                        div.review-item__info
                            p.review-item__description
                                img(src="./images/quote.png").review-item__qoute
                                |#{item.review}
                            h5.review-item__name #{item.name}
                            h6.review-item__position #{item.position}