block pageVariables
    -
        const servicesArr = [
            { image: "./images/tooth-1.png", title: "Dental Implants", desc: "Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic." },
            { image: "./images/tooth-2.png", title: "Cosmetic Dentistry", desc: "Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic." },
            { image: "./images/tooth-3.png", title: "Dental Care", desc: "Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic." },
            { image: "./images/tooth-4.png", title: "Teeth Whitening", desc: "Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic." },
            { image: "./images/tooth-5.png", title: "Dental Calculus", desc: "Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic." },
            { image: "./images/tooth-6.png", title: "Periondontics", desc: "Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic." },
            { image: "./images/tooth-7.png", title: "Clip & Braces", desc: "Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic." },
            { image: "./images/tooth-8.png", title: "Root Canel", desc: "Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic." }
        ]

div.services
    div.container 
        div.services-content
            div.introduction.wow.fadeInUp.faster
                h1.introduction__heading Services
                h2.introduction__subheading Our Clinic Services 
                p.introduction__description Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country
            ul.service-list
                each item in servicesArr
                    li.service-list__item.wow.fadeInUp.faster
                        div.service-list_tooth-round
                            div(style='background-image: url('+ item.image +')').service-list_tooth-image
                        h3.service-list__title #{item.title}
                        p.service-list__description #{item.desc}
                        


