extends ../layout/main.pug
block pageVariables

block content
    include ./modules/navigation.pug
    include ./modules/breadcrumbs.pug
    include ./modules/welcome.pug
    include ./modules/provide.pug
    include ./modules/reviews.pug