extends ../layout/main.pug
block pageVariables

block content
    include ./modules/navigation.pug
    include ./modules/carousel.pug
    include ./modules/welcome.pug
    include ./modules/consultation.pug
    include ./modules/services.pug
    include ./modules/promise.pug
    include ./modules/doctors.pug
    include ./modules/reviews.pug
    include ./modules/provide.pug
    include ./modules/pricing.pug
    include ./modules/blog.pug